name: Validate CPP XML

on:
    pull_request:
        paths-ignore:
            - 'CPP-*/cpp-*.xml'
            - 'cpp.xsd'

jobs:
    validate-xml:
        runs-on: ubuntu-latest
        steps:
            - name: Nothing to do
              run: echo "CPPs not modified; still valid"
